doctype html
html
	head
		link(rel='stylesheet', href='/style/styling.css')
		title The Prosefectionist - #{error}

	body
		#wrapper
			#container
				#header
					header
						img(src='/images/logo.png', width='200', height='244', alt='The Prosefectionist Logo')#logoimage
						<br><a href="/"><span class="initial">T</span><span class="titleit">he</span> <span class="initial">P</span><span class="titlecaps">ROSE</span><span class="titleit">fectionist</span></a>

						p#tag #{error} error. #{message} 
							a(href="/") Back home.

//				#content
					//NEEDS BETTER FORMATTING
//					center: span.titlecaps #{error} Error - 
//						span.titleit
//							a(href='/') Back Home
//						p#tag #{message}

//						p #{errorreport}
