doctype html
html
	//what about lang and charset?
	head
		link(rel='stylesheet', href='/style/styling.css')
		title= sitetitle
		//what about meta tags?


	body
		#menu
			//a(href="/newpost") New Post
			if admin
				a(href="/admin") Administration
				| &nbsp; 
				a(href="/logout") Log Out
		#wrapper
			#container
				#header
					header
						img(src='/images/logo.png', width='200', height='244', alt='The Prosefectionist Logo')#logoimage
						<br>
						a(href='/')!= sitename

						p#tag= sitetag

						if (pages.length > 0)
								nav
									ul
										for page in pages
											li: a(href="/pages/#{page._id}")= page.shortname

				#content
	
					for post in posts
						a(href="/post/#{post._id}"): h2= post.title
						p!= post.body

					//should check number of posts in posts
					if numposts > 5
						#pagenav: a(href="/page/2") Next Page

					//<br><br> 
					//p: a(href='/newpost') New Post
